
  <h1><%= @user.username %>'s Profile:</h1>
  <div class ="main tab_box">

<ul>
  <% @user.trips.each do |trip|%>
  <a href="/trips/<%= trip.id %>">
  <%= trip.date %> <%= trip.name %> </a><br>
  <% end %>
</ul>

<p><a href="/trips/new"><button>Add New Trip</button></a></p>

<h2><a href="/trips"><button>List of Trips</button></a></h2>

<p><a href="/logout"><button>Log Out</button></a></p>
</div>
