
<h1> Please Sign Up Below </h1>

<div class ="main login-top">

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Create Account">
</form>
</br>
<p><a href="/login"><button>Log In</button></a></p>
</div>
