<body>
<div class = "main">

  <h1>Welcome to the Camping Trip Tracker!</h1>

<div class ="tab_box"> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue. </div>

</div>

<div class ="footer">
  <h3> Made by Erica </h3>
</div>
</body>
